# Config to have logstash listen for syslog messages.

input {
  syslog {
    type => syslog
    port => 5544
  }
}

output {
 redis {
    host => lsbroker01
    data-type => "list"
    key => "logstash"
 }
}
