# Config to have logstash listen for syslog messages.

input {
  syslog {
    type => syslog
    port => 5544
  }
  log4j {
    type => "log4j"
    port => {{ log4j_port }}
    debug => true
  }
}

filter {
  grep {
    type => "syslog"
    match => [ "@message", "ovpn-client" ]
    add_tag => "ovpn-client"
  }
  multiline {
    tags => "ovpn-client"
    type => "syslog"
    pattern => "(CRITICAL|WARNING|NOTICE|INFO|DEBUG)"
    negate => true
    what => "previous"
  }
}

output {
 redis {
    host => "ls-broker01"
    data_type => "list"
    key => "logstash"
 }
}
