# Config to have logstash listen for syslog messages.

input {
  tcp {
    type => syslog
    port => 5544
  }
  udp {
    type => syslog
    port => 5544
  }
  log4j {
    type => "log4j"
    port => {{ log4j_port }}
    debug => true
  }
}

filter {
  grok {
    type => "syslog"
    pattern => [ "<%{POSINT:syslog_pri}>%{SYSLOGTIMESTAMP:syslog_timestamp} %{SYSLOGHOST:syslog_hostname} %{DATA:syslog_program}(?:\[%{POSINT:syslog_pid}\])?: %{GREEDYDATA:syslog_message}" ]
    add_field => [ "received_at", "%{@timestamp}" ]
    add_field => [ "received_from", "%{@source_host}" ]
  }
  syslog_pri {
    type => "syslog"
  }
  date {
    type => "syslog"
    match => [ "syslog_timestamp", "MMM  d HH:mm:ss", "MMM dd HH:mm:ss" ]
  }
  mutate {
    type => "syslog"
    exclude_tags => "_grokparsefailure"
    replace => [ "@source_host", "%{syslog_hostname}" ]
    replace => [ "@message", "%{syslog_message}" ]
  }
  mutate {
    type => "syslog"
    remove => [ "syslog_hostname", "syslog_message", "syslog_timestamp" ]
  }

  grep {
    type => "syslog"
    match => [ "@message", "ovpn-client" ]
    add_tag => "ovpn-client"
  }
  multiline {
    tags => "ovpn-client"
    type => "syslog"
    pattern => "(CRITICAL|WARNING|NOTICE|INFO|DEBUG)"
    negate => true
    what => "previous"
  }
}

output {
 redis {
    host => "ls-broker01"
    data_type => "list"
    key => "logstash"
 }
}
