# Config to have logstash listen for syslog messages.

input {
  syslog {
    type => syslog
    port => 5544
  }
  log4j {
    type => "log4j"
    port => {{ log4j_port }}
    debug => true
  }
}

output {
 redis {
    host => "ls-broker01"
    data_type => "list"
    key => "logstash"
 }
}
